<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  		<title>/henri's blog/</title>
	</head>

<body>

	  <a href="/blog" class="main-title">
		/henri's blog/
		</a>


{% for post in posts %}
  <div class="post">

    <div class="post-heading">
      <a href="/blog/{{post.key().id()}}" class="post-title">
        {{post.subject}}
      </a>
      <div class="post-date">
        {{post.created}}
      </div>
    </div>

    <div class="post-content">
      {{post.blog}}
    </div>

  </div>
{% endfor %}


    <br><br>


</body>










