<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  		<title>/henri's blog/</title>
	</head>

<body>

	  	<a href="/blog" class="main-title">
		/henri's blog/
		</a>

<div class="post">
  <div class="post-heading">
    <a href="/blog/20002" class="post-title">
      the suit is back!
    </a>

    <div class="post-date">
      May 08, 2012
    </div>
  </div>

  <div class="post-content">
    again
  </div>
</div>
    <br><br>


</body>










