<!DOCTYPE html>

<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
		<title>/henri's blog/</title>
	</head>

	<body>
	  	<a href="/blog" class="main-title">
		/henri's blog/
		</a>


		<h2> new post </h2>
		
		<form method="post">
			<label>
				<div>subject</div>
				<input type="text" name="subject" >
			</label>

			<label>
				<div>blog</div>
				<textarea name="blog"> </textarea>
			</label>


			<div class="error">{{error}}</div>
			<input type="submit">
		</form>

	</body>
</html>